.logo-container{
    z-index: -1;
    width: 400px;
    height: 600px;
    position:absolute;
    display: inline-block;
    top: 0;
    right: 20%;
    bottom:0;
    left: auto;
    margin: auto;

    

    .prinLogo{
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 500px;
        opacity: 0.4;
        
        transform: rotateZ(15deg);
        z-index: 1;

         &:hover {
             transition: 1s;
            transform:  rotate(375deg);
            animation: fadeIn forwards ;
        } 

    }


} 



